<div
  class="bg-white border-right header"
  id="sidebar-wrapper"
  [hidden]=""
  [ngClass]="onToggle ? 'sidebar-secondary' : 'sidebar-primary'"
>
  <div
    class="sidebar-heading text-black bg-white font-weight-bold d-flex justify-content-between"
  >
    <span *ngIf="!onToggle">
      Boilerplate
    </span>
    <a (click)="toggleSidebar()" class="text-decoration-none"  style="cursor: pointer;">
      <i class="fa fa-align-justify"></i>
    </a>
  </div>
  <div class="list-group list-group-flush border-top">
    <a
      [routerLink]="['/admin/dashboard']"
      routerLinkActive="active"
      class="list-group-item list-group-item-action border-right"
      [ngClass]="onToggle ? 'sidebar-secondary' : 'sidebar-primary'"
    >
      <i class="fa fa-dashboard"></i>
      <span [ngClass]="onToggle ? 'd-none' : ''"> Dashboard </span>
    </a>
    <a
      [routerLink]="['/admin/users']"
      routerLinkActive="active"
      class="list-group-item list-group-item-action border-right"
      [ngClass]="onToggle ? 'sidebar-secondary' : 'sidebar-primary'"
    >
      <i class="fa fa-users"></i>
      <span [ngClass]="onToggle ? 'd-none' : ''"> People </span>
    </a>
    <a
      [routerLink]="['/admin/profile']"
      routerLinkActive="active"
      class="border-top list-group-item list-group-item-action border-right"
      [ngClass]="onToggle ? 'sidebar-secondary' : 'sidebar-primary'"
    >
      <i class="fa fa-user"></i>
      <span [ngClass]="onToggle ? 'd-none' : ''"> Profile </span>
    </a>
  </div>
</div>
