<button class="btn btn-primary mb-2">
  <i class="fa fa-plus"></i>
  Add Permission
</button>
<form (ngSubmit)="onSubmit()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Permission</th>
        <th *ngFor="let role of roles" class="text-center">
          {{ role.name | removeUnderscore | titlecase }}
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let permission of permissions; let i = index">
          <td>{{ permission.name | removeUnderscore | titlecase }}</td>
          <td class="text-center" *ngFor="let role of roles; let j = index">
            <input type="hidden" name="permission" ngModel />
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              [attr.id]="'checkbox' + i + j"
              [ngModel]="hasPermission(permission, role)"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
        </tr>
    </tbody>
  </table>
</form>
