<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete
        <span class="text-primary">"{{ role.name }}"</span> on the Role List?</strong
      >
    </p>
    <p><span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="submit"
    class="btn btn-danger"
    (click)="modal.close('Ok click')"
  >
    <a (click)="deleteRole()">
      Ok
    </a>
  </button>  </div>
</ng-template>

<button class="btn btn-danger action" (click)="open(content)"> <i class="fa fa-trash"> </i></button>

