<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Edit</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
      <div id="user-data" formGroupName="userData">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            value="user.name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            value="user.username"
            required
            formControlName="username"
          />
        </div>
      </div>
      <div class="form-group">
        <label>User Roles:</label>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-check" *ngFor="let role of roles; let i = index">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="userRoles"
                  [id]="role.rid"
                  [value]="this.checks[i]"
                  [checked]="this.checks[i]"
                  (change)="onChange($event, i, role.rid)"
                />
                {{ role.name | removeUnderscore | titlecase }}
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-warning text-white"
          (click)="modal.close('Save click')"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-warning action" (click)="open(content)">
  <i class="fa fa-pencil text-white"> </i>
</button>
