<app-role-add></app-role-add>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles; let i = index">
      <td>{{ role.name | removeUnderscore | titlecase}}</td>
      <td>
        <app-role-details [role]="role" [i]="i" ></app-role-details>
        <app-role-edit [role]="role" [i]="i"></app-role-edit>
        <app-role-delete [role]="role" [i]="i"></app-role-delete>
      </td>
    </tr>
  </tbody>
</table>
