<app-role-add></app-role-add>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles">
      <td>{{ role.name | removeUnderscore | titlecase}}</td>
      <td>

        <button class="btn btn-primary mx-1">
          <i class="fa fa-eye"> </i>
        </button>
        <button class="btn btn-warning mx-1">
          <i class="fa fa-pencil text-white"> </i>
        </button>
        <button class="btn btn-danger mx-1">
          <i class="fa fa-trash"> </i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
