<app-role-add></app-role-add>
<table class="table table-striped w-75 table-width">
  <thead>
    <tr>
      <th scope="col">Roles</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
    <tr *ngFor="let role of roles; let i = index" cdkDrag cdkDragLockAxis="y">
      <td>
        <div class="drag-handle">
          <ng-container [ngTemplateOutlet]="dragHandleTmpl"> </ng-container>
          {{ role.name | removeUnderscore | titlecase }}
        </div>
      </td>
      <td class="text-center">
        <app-role-details [role]="role" [i]="i"></app-role-details>
        <app-role-edit [role]="role" [i]="i"></app-role-edit>
        <app-role-delete [role]="role" [i]="i"></app-role-delete>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #dragHandleTmpl>
  <svg
    class="bi bi-list handle"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
      clip-rule="evenodd"
    />
  </svg>
</ng-template>
