<div class="container-fluid">
  <h1>Users</h1>
  <div class="card w-100">
    <div class="card-body">
      <ul
        class="nav nav-pills flex-column flex-sm-row"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#users"
            role="tab"
            aria-controls="users"
            aria-selected="true"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#permissions"
            role="tab"
            aria-controls="permissions"
            aria-selected="false"
            >Permissions</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="contact-tab"
            data-toggle="tab"
            href="#roles"
            role="tab"
            aria-controls="roles"
            aria-selected="false"
            >Roles</a
          >
        </li>
      </ul>
      <hr class="mt-0" />
      <div class="tab-content" id="myTabContent">
        <!-- User Tab -->
        <div
          class="tab-pane fade show active"
          id="users"
          role="tabpanel"
          aria-labelledby="users-tab"
        >
          <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add User
          </button>
          <form class="form-inline mb-2">
            <div class="form-group d-block mr-1">
              <label class="justify-content-start small" for="username"
                >Username</label
              >
              <input type="text" id="username" class="form-control" />
            </div>
            <div class="form-group d-block mx-1">
              <label class="justify-content-start small" for="status"
                >Status</label
              >
              <select class="form-control" id="status">
                <option selected="selected">---Any---</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group d-block mx-1">
              <label class="justify-content-start small" for="roles"
                >Roles</label
              >
              <select class="form-control" id="roles">
                <option selected="selected">---Any---</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group d-block mx-1">
              <label class="justify-content-start small" for="permission"
                >Permission</label
              >
              <select class="form-control" id="permission">
                <option selected="selected">---Any---</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </form>
          <div class="mb-2">
            <button class="btn btn-primary mr-2 rounded-pill">
              <i class="fa fa-check"></i>
              Apply
            </button>
            <button class="btn btn-light rounded-pill border-dark">
              <i class="fa fa-close"></i>
              Clear
            </button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.name}}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.status == 1? 'Active' : 'Inactive' }}</td>
                <td>
                  <button class="btn btn-primary mx-1">
                    <i class="fa fa-eye"> </i>
                  </button>
                  <button class="btn btn-warning mx-1">
                    <i class="fa fa-pencil text-white"> </i>
                  </button>
                  <button class="btn btn-danger mx-1">
                    <i class="fa fa-trash"> </i>
                  </button>
                </td>
              </tr>
           </tbody>
          </table>
          {{hello}}
        </div>

        <!-- Permission Tab-->
        <div
          class="tab-pane fade"
          id="permissions"
          role="tabpanel"
          aria-labelledby="permissions-tab"
        >
          <button class="btn btn-primary mb-2">
            <i class="fa fa-plus"></i>
            Add Permission
          </button>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" style="width: 40%;">Permission</th>
                <th scope="col" style="width: 20%;">ROLE_AUTHENTICATED</th>
                <th scope="col" style="width: 20%;">ROLE_MAIN</th>
                <th scope="col" style="width: 20%;">ROLE_ADMIN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ROLE_WRITE</td>
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                </td>
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                </td>
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                </td>
            </tbody>
          </table>
        </div>

        <!-- Roles Tab -->
        <div
          class="tab-pane fade"
          id="roles"
          role="tabpanel"
          aria-labelledby="roles-tab"
        >
        <button class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Add User
        </button>
          Test is real hahaha
        </div>
      </div>
    </div>
  </div>
</div>
