<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Permission</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="permissionAddForm">
      <div class="form-group form-row">
        <label for="permissionName">Name</label>
        <input
          type="text"
          name="permissionName"
          id="permissionName"
          class="form-control"
          formControlName="name"
        />
        <span
          class="help-block text-danger small"
          *ngIf="!permissionAddForm.get('name').valid && permissionAddForm.get('name').touched"
          >This field is required!</span
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!permissionAddForm.get('name').valid"
        >
          <a class="text-white">Add</a>
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-primary mb-2" (click)="open(content)">
  <i class="fa fa-plus"></i> Add Permission
</button>
