<div class="form-inline mb-2">
  <div class="form-group d-block mr-1">
    <label class="justify-content-start small" for="username">Username</label>
    <input
      type="text"
      id="username"
      class="form-control"
      [(ngModel)]="userKeyword"
    />
  </div>
  <div class="form-group d-block mx-1">
    <label class="justify-content-start small" for="status">Status</label>
    <select class="form-control" id="status">
      <option selected="selected">---Any---</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>
  <div class="form-group d-block mx-1">
    <label class="justify-content-start small" for="roles">Roles</label>
    <select class="form-control" id="roles">
      <option selected="selected">---Any---</option>
      <option *ngFor="let role of roles; let i = index" [value]="role.name">
        {{ role.name | removeUnderscore | titlecase }}
      </option>
    </select>
  </div>
  <div class="form-group d-block mx-1">
    <label class="justify-content-start small" for="permission"
      >Permission</label
    >
    <select class="form-control" id="permission">
      <option selected="selected">---Any---</option>
      <option
        *ngFor="let permission of permissions; let i = index"
        [value]="permission.name"
      >
        {{ permission.name | removeUnderscore | titlecase }}
      </option>
    </select>
  </div>
</div>
<div class="mb-2">
  <button class="btn btn-primary mr-2 rounded-pill">
    <i class="fa fa-check"></i>
    Apply
  </button>
  <button class="btn btn-light rounded-pill border-dark">
    <i class="fa fa-close"></i>
    Clear
  </button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of users
          | filter: userKeyword
          | paginate
            : {
                id: 'listing_pagination',
                itemsPerPage: 5,
                currentPage: page,
                totalItems: totalUsers
              };
        index as i
      "
    >
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>
        <p class="badge badge-success" *ngIf="user.verrified == 1">Active</p>
        <p class="badge badge-warning" *ngIf="user.verrified != 1">Inactive</p>
      </td>
      <td>
        <app-user-details [user]="user" [id]="i"></app-user-details>
        <app-user-edit [user]="user" [id]="i"></app-user-edit>
        <app-user-delete [user]="user" [id]="i"></app-user-delete>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex flex-row-reverse">
  <pagination-controls
    id="listing_pagination"
    maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
