@import 'variables';
@import 'materials';

@mixin defaults {

  body {
    height: 100%;

  }

  h1 {
    color: blueviolet;
    @media screen and (max-width: 1536px) {
     color: red;
    }
    @media screen and (max-width: 768px) {
      color: blue;
     }
  }



}

