.mat-toolbar.mat-primary {
  color: #fff;
}

mat-drawer{
  width: 200px;
}

mat-drawer-container{
  display: block;
  height: 600px ;
}

mat-drawer-content {
  padding: 20px;
  height: 100%;
}

.material-icons {
  padding-right: 10px;
}


.mat-card {
  height: 400px;
}
