.mat-toolbar.mat-primary {
  color: #fff;
}

.mat-drawer{
  width: 200px;
}

.mat-drawer-container{
  display: block;
  height: 100% ;
}

.mat-drawer-content {
  padding: 20px;
  height: 100%;
}

.material-icons {
  padding-right: 10px;
}

.mat-card {
  height: 500px;
}

.mat-tab-label-container {
  border-bottom: 20px none !important;
}

.mat-tab-body-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-form-field {
  padding-right: 10px;
}




