<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="userAddForm">
      <div formGroupName="userData">
        <div class="form-row form-group">
          <div class="col-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" formControlName="firstName" />
          </div>
          <div class="col-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" formControlName="lastName" />
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" formControlName="username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" formControlName="password" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-outline-secondary action"
            (click)="modal.dismiss('cancel click')"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            <a>
              Add User
            </a>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-primary action" (click)="open(content)">
  <i class="fa fa-plus"></i>
  Add User
</button>
